.contacto-formulario {
    flex-basis: 55%;
    padding: 2vh;
    background-color: rgba(50, 67, 87, 0.7); /* Fondo celeste semitransparente */
   
}

.form-header, .form-footer {
    text-align: center; /* Centra el contenido dentro de estos contenedores */
}

.contacto-formulario h3 {
    font-size: 2vw; /* Tamaño del texto en vh */
    color: white; /* Color del texto en blanco */
    letter-spacing: 0.1em; /* Ajusta el espaciado entre letras */
}

.contacto-formulario label,
.contacto-formulario input,
.contacto-formulario textarea,
.contacto-formulario button {
    color: white; /* Establece el color del texto en blanco para etiquetas, campos de entrada, área de texto y botón */
}

.contacto-formulario input,
.contacto-formulario textarea {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente para los campos de entrada y área de texto */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco semitransparente */
    color: white; /* Color del texto en blanco en los campos de entrada y área de texto */
    padding: 0.5em; /* Espacio interno para una mejor apariencia */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    margin-bottom: 1.5vh; /* Añade separación entre los campos */
    width: calc(100% - 2px); /* Ajusta el ancho para tener en cuenta el padding, si es necesario */
   
}

.contacto-formulario button {
    background-color: #007bff; /* Fondo del botón en azul (ajusta según sea necesario) */
    border: none; /* Elimina el borde predeterminado */
    color: white; /* Color del texto del botón en blanco */
    padding: 0.5em 1em; /* Espacio interno del botón */
    font-size: 1em; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
}

.contacto-formulario button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el cursor (ajusta según sea necesario) */
}

.contacto-formulario button {
    margin-top: 1vh; /* Espacio superior, ajusta según sea necesario */
}

.contacto-formulario button {
    margin-top: 1vh; /* Espacio superior, ajusta según sea necesario */
    padding: 1vh 2vw; /* Ajusta el padding del botón si es necesario */
}