{% load static %}

<link rel="stylesheet" href="{% static 'css/home/boton-header.css' %}">

<div class="contenedor">
    <div class="titulo">
        <p>Acceso clientes</p>
    </div>
    <div class="boton">
        <button class="btn-custom boton-seis" onclick="location.href='{% if button_url %}{% url button_url %}{% else %}#{% endif %}'">
            {% if button_text %}{{ button_text }}{% else %}Iniciar Sesión{% endif %}
            <svg>
                <rect x="0" y="0" fill="none"></rect>
            </svg>
        </button>
    </div>
</div>



