{% extends "base.html" %}
{% load static %}

{% block title %} Catalogos {% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/home/catalogos/catalogos.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/catalogos/catalogos-portada.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/catalogos/catalogos-files.css' %}">
{% endblock %}

<!-- Header -->
<!-- Sección 2: Bloque Central -->
{% block header_central %}
  {% include 'home/listasecciones.html' %}
{% endblock %}


<!-- Sección 3: Botón de Inicio de Sesión -->
{% block header_derecha %}
    {% with button_text="Iniciar Sesión" button_url="login" %}
        {% include 'home/botonheader.html' %}
    {% endwith %}
{% endblock %}

<!-- Main Content -->
{% block content %}
    <!-- Contenedor Principal -->
    <div class="catalogos-container">
        <!-- Contenedor de Portada -->
        <div class="catalogos-portada">
            <div class="onda">
                <img src="{% static 'images/portada.webp' %}" alt="Portada de Servicios">
                <h2>CATÁLOGOS</h2>
            </div>
        </div>
        <!-- Contenedor de files -->
        <div class="catalogos-files">
            <!-- Contenedor de Catálogos -->
            <div class="row files-container">
                <!-- Contenedor 1 -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="catalogo">
                        <div class="imagen-catalogo">
                            <img src="{% static 'images/catalogo-krypton.webp' %}" class="img-fluid" alt="Catálogo 1">
                        </div>
                        <div class="link-descarga mt-2">
                            <a href="{% static 'files/Catalogo-General-Krypton-Chemical_ES-1.pdf' %}" class="btn btn-primary" download>Descargar Catalogo</a>
                        </div>
                    </div>
                </div>

                <!-- Contenedor 2 -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="catalogo">
                        <div class="imagen-catalogo">
                            <img src="{% static 'images/catalogo-gratt.webp' %}" class="img-fluid" alt="Catálogo 2">
                        </div>
                        <div class="link-descarga mt-2">
                            <a href="{% static 'files/CATALOGO-EQUIPAMENTOS-GRATT-2019-ESPANHOL-2.pdf' %}" class="btn btn-primary" download>Descargar Catalogo</a>
                        </div>
                    </div>
                </div>

                <!-- Contenedor 3 -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="catalogo">
                        <div class="imagen-catalogo">
                            <img src="{% static 'images/catalogo-vai.webp' %}" class="img-fluid" alt="Catálogo 3">
                        </div>
                        <div class="link-descarga mt-2">
                            <a href="{% static 'files/Presentacion-Vai-Process-2022.pdf' %}" class="btn btn-primary" download>Descargar Catalogo</a>
                        </div>
                    </div>
                </div>

                <!-- Contenedor 4 -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="catalogo">
                        <div class="imagen-catalogo">
                            <img src="{% static 'images/catalogo-vai.webp' %}" class="img-fluid" alt="Catálogo 4">
                        </div>
                        <div class="link-descarga mt-2">
                            <a href="{% static 'files/Vai-Process-Tratamiento-de-Olores-2022.pdf' %}" class="btn btn-primary" download>Descargar Catalogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}


<!-- Footer -->
{% block footer_izquierda %}
    {% include 'home/listasecciones.html' %}
{% endblock %}