{% extends "base.html" %}
{% load static %}

{% block title %} Servicios {% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/home/servicios/servicios.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/servicios/servicios-portada.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/servicios/servicios-contenedor.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/servicios/servicios-contenido.css' %}">

{% endblock %}

<!-- Header -->
<!-- Sección 2: Bloque Central -->
{% block header_central %}
  {% include 'home/lista-secciones.html' %}
{% endblock %}


<!-- Sección 3: Botón de Inicio de Sesión -->
{% block header_derecha %}
    {% with button_text="Iniciar Sesión" button_url="login" %}
        {% include 'home/boton-header.html' %}
    {% endwith %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<!-- Sección de Servicios -->
<section class="servicios-section" id="servicios">

  <div class="servicios-portada">
    <div class="onda">
      <img src="{% static 'images/home/portada.webp' %}" alt="Portada de Servicios">
    </div>
    <h2>NUESTROS SERVICIOS</h2>
  </div>

  <div class="servicios-contenedor">
    <div class="servicios-contenido-externo">
      
      <!-- Servicio 1   TRATAMIENTOS DE AGUAS --> 
      <div class="servicios-contenido">
        <div class="servicio1">
          <div class="titulosecundario">
            <h3>TRATAMIENTOS DE AGUAS</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Lavado químico, torres de enfriamiento y condensadores</li>
                <li>Mantención, reparación y venta de ablandadores y filtros</li>
                <li>Porta filtros </li>
                <li>Filtros cartuchos</li>
                <li>Operación y control de plantas de agua potable, riles y aguas servidas</li>
            </ul>
            </div>
            <!-- inicio columna carrusel -->
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio1.html' %}
            </div>
            <!-- fin columna carrusel -->
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>

      <!-- Servicio 2   ABLANDSADORES DE AGUA--> 
      <div class="servicios-contenido">
        <div class="servicio2">
          <div class="titulosecundario">
            <h3>ABLANDADORES DE AGUA</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio2.html' %}
            </div>
            <div class="col-md-6">
              <ul>
                <li>Tanques de polipropileno reforzado en fibra de vidrio (PRFV)</li>
                <li>Resina de intercambio iónico</li>
                <li>Cabezal de control automático, con regeneración por tiempo o caudal</li>
                <li>Tanque y válvula de salmuera de polipropileno</li>
            </ul>
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>
  
      <!-- Servicio 3    FILTROS AUTOMÁTICOS--> 
      <div class="servicios-contenido">
        <div class="servicio3">
          <div class="titulosecundario">
            <h3>FILTROS AUTOMÁTICOS</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Filtro Multimedia</li>
                <li>Filtro Greensand</li>
                <li>Filtro Carbón Activado</li>
                <li>Filtro Remoción Arsénico</li>
                <li>Filtro Remoción Nitrato</li>
              </ul>
            </div>
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio3.html' %}
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>

      <!-- Servicio 4 OSMOSIS INVERSA-->
      <div class="servicios-contenido">
        <div class="servicio4">
            <div class="titulosecundario">
                <h3>OSMOSIS INVERSA</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                  {% include 'home/carruseles/carousel-servicio4.html' %}
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Interruptores de baja y alta presión</li>
                        <li>Válvula solenoide</li>
                        <li>Bomba de alta presión</li>
                        <li>Membranas y porta-membranas</li>
                        <li>Tablero de protección de motor</li>
                    </ul>
                </div>
            </div>
            <div class="titulosecundario">
              {% include 'home/pedir-cotizacion.html' %}
             </div>
        </div>
      </div>

      <!-- Servicio 5    FILTROS Y MEMBRANAS--> 
      <div class="servicios-contenido">
        <div class="servicio4">
          <div class="titulosecundario">
            <h3>FILTROS Y MEMBRANAS</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Filtros de polipropileno</li>
                <li>Filtros de carbón activado</li>
                <li>Filtros rellenables y carcasas</li>
                <li>Membranas para osmosis inversa</li>
                <li>Llaves para carcasa y clips</li>
              </ul> 
            </div>
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio5.html' %}
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>
     
        <!-- Servicio 6    BOMBAS DOSIFICADORAS--> 
      <div class="servicios-contenido">
        <div class="servicio4">
          <div class="titulosecundario">
            <h3>BOMBAS DOSIFICADORAS</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio6.html' %}
            </div>
            <div class="col-md-6">
              <ul>
                <li>Bombas electromagnéticas con dosificación constante</li>
                <li>Bombas de funcionamiento proporcional, sin electricidad</li>
                <li>Dosificación homogénea y exacta</li>
              </ul>
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>
      
      <!-- Servicio 7    TRATAMIENTOS DE OLORES--> 
      <div class="servicios-contenido">
        <div class="servicio4">
          <div class="titulosecundario">
            <h3>TRATAMIENTOS DE OLORES</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Productos Químicos // EliminOdor</li>
                <li>Equipos de Neutralización por aspersión</li>
                <li>Equipos de Neutralización automáticos por control de variables (Viento, Velocidad, Dirección, Tiempo)</li>
              </ul>
            </div>
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio7.html' %}
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>

      <!-- Servicio 8    IMPERMEABILIZACIÓN Y REVESTIMIETOS--> 
      <div class="servicios-contenido">
        <div class="servicio4">
          <div class="titulosecundario">
            <h3>IMPERMEABILIZACIÓN Y REVESTIMIETOS</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio8.html' %}
            </div>
            <div class="col-md-6">
              <ul>
                <li>Resinas Autonivelantes</li>
                <li>Impermeabilización líquida en frío</li>
                <li>Poliureas para sistemas de protección</li>
                <li>Impermeabilización proyectados en caliente</li>
                <li>Acabado alifático para sistemas de impermeabilización</li>
              </ul>
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>

      <!-- Servicio 9    Obras Civiles--> 
      <div class="servicios-contenido">
        <div class="servicio4">
          <div class="titulosecundario">
            <h3>OBRAS CIVILES</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Bodegas</li>
                <li>Galpones</li>
                <li>Radiers y losas</li>
                <li>Estructuras metalicas</li>
                <li>Construccion de canchas deportivas</li>
              </ul>
            </div>
            <div class="col-md-6">
              {% include 'home/carruseles/carousel-servicio9.html' %}
            </div>
          </div>
          <div class="titulosecundario">
            {% include 'home/pedir-cotizacion.html' %}
           </div>
        </div>
      </div>

      <!-- Servicio 10    Nuestros Clientes--> 
      <div class="servicios-contenido">
        <div class="servicio4">
              {% include 'home/carruseles/nuestros-clientes10.html' %}
        </div>
      </div>

    </div>
  </div>

</section>
{% endblock %}


<!-- Footer -->
{% block footer_izquierda %}
    {% include 'home/lista-secciones.html' %}
{% endblock %}


{% block extra_scripts %}
  <!-- espacio para mas scripts -->
{% endblock %}