{% extends "base.html" %}
{% load static %}

{% block title %} Acceso usuarios - VaiP {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/usuarios/registration-login.css' %}">
{% endblock %}

<!-- Header -->
<!-- Sección 2: Bloque Central -->
{% block header_central %}
    {% include 'home/lista-secciones.html' %}
{% endblock %}


<!-- Sección 3: Botón de Inicio de Sesión -->
{% block header_derecha %}
    {% with button_text="Volver al Inicio" button_url="home" %}
        {% include 'home/boton-header.html' %}
    {% endwith %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="content">
    <div class="container">
        <div class="titulo">
            <h1>Acceso de Usuarios</h1>
        </div>
        <!-- Formulario de acceso -->
        <form class="formulario" >
            {% if form.errors %}
            <p> 
                Tu usuario o contraseña son incorrectos. <br>
                Por favor intenta nuevamente
            </p>
            {% else %}
                <p>Ingrese sus datos para iniciar sesion</p>
            {% endif %}
            
            <div class="login-form">
                <form method="POST">
                    {% load widget_tweaks %}
                    {% for field in form %}
                        {{ field.label_tag}} {{field}}
                        
                    {% endfor %}
                    {% csrf_token %}
                    <input type="submit" value="Log-in" class="button mt-2">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </form>
            

    </div>
 </div>
</div>

{% endblock %}


<!-- Footer -->
{% block footer_izquierda %}
    {% include 'home/lista-secciones.html' %}
{% endblock %}

