/* Estilos específicos para el carrusel "Nuestros Clientes" */
.special-carousel .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura del contenedor del carrusel */
}

.special-carousel .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Ajusta el ancho según sea necesario */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

