
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/usuarios/ultimo-usuario.css' %}">
{% endblock %}


<!-- Main Content -->

<div class="container">
    <h2>Último Usuario Registrado</h2>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% else %}
        <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
        <p><strong>Apellido:</strong> {{ usuario.last_name }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
        <p><strong>Cargo:</strong> {{ usuario.cargo }}</p>
        <p><strong>Nombre de Usuario:</strong> {{ usuario.username }}</p>
        <p><strong>Contraseña:</strong> vaiprocess2024</p>
    {% endif %}
    <!-- Botón para regresar al dashboard y generar el pdf -->
    <a onclick="generatePDF()" href="{% url 'dashboard' %}" class="btn btn-primary">Generar PDF</a>
</div>



{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{% static 'js/usuarios/ultimo-usuario.js' %}"></script>
{% endblock %}
  