/* Footer siempre al final de la página */
footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #5c6179;
}

/* Fondo y ajuste del footer */
.footer-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.footer-container .row {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Ajustes adicionales para eliminar márgenes y padding no deseados en los elementos del footer */
.footer-container .col-md-3,
.footer-container .col-md-5,
.footer-container .col-md-4 {
    margin: 0;
    padding: 0;
}