{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_styles %}
    <!-- Espacio para estilos específicos de cada página -->
    {% endblock %}
</head>
<body class="bg-image">
    <!-- Header -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Sección 1: Logo -->
                <div class="header-column" id="header-izq">
                    <img src="{% static 'images/logo2.png' %}" alt="Logo" class="logo-img">
                </div>

                <!-- Sección 2: Bloque Central -->
                <div class="collapse navbar-collapse" id="header-cen">
                    {% block header_central %}
                    <!-- Espacio para lista de accesos -->
                    {% endblock %}
                </div>

                <!-- Sección 3: Botón de Inicio de Sesión -->
                <div class="d-flex" id="header-der">
                    {% block header_derecha %}

                    {% endblock %}
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="flex-shrink-0">
        
        {% block content %}
        <!-- Contenido específico de la página -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="footer-container">
                <div class="row">
                    <!-- Sección 1: Bloque Izquierdo -->
                    <div class="col-md-3">
                        {% block footer_izquierda %}
                        <!-- Espacio para accesos -->
                        {% endblock %}
                    </div>

                    <!-- Sección 2: Bloque Central -->
                    <div class="col-md-5 d-flex flex-column justify-content-end text-center">
                        <p>D&T - Desarrollo y Tecnología</p>         
                        <p>Desarrollado por Pablo Flores</p>
                    </div>

                    <!-- Sección 3: Bloque Derecho -->
                    <div class="col-md-4 text-end">
                        <!-- Datos de la empresa -->
                        Ingeniería, Construcción, Equipos e Insumos para tratamiento de Aguas. <br>
                        Vaiprocess todos los derechos reservados | 2024
                    </div>
                </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block extra_scripts %}
    <!-- Espacio para scripts específicos de cada página -->
    {% endblock %}
</body>
</html>
