
{% extends "base.html" %}
{% load static %}

{% block title %} Agregar Empresa {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/plantas/crud-plantas/agregar-empresa.css' %}">
{% endblock %}

<!-- Header -->
<!-- Sección 2: Bloque Central -->
{% block header_central %}

{% endblock %}


<!-- Sección 3: Botón de Inicio de Sesión -->
{% block header_derecha %}
    {% with button_text="Volver al Dashboard" button_url="dashboard" %}
        {% include 'home/boton-header.html' %}
    {% endwith %}
{% endblock %}

<!-- Main Content -->
{% block content %}
    <div class="container centrado">
        <h2>Agregar Empresa</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Empresa</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
  