{% load static %}
<link rel="stylesheet" href="{% static 'css/home/servicios/carusel-nuestros-clientes.css' %}">

<div id="carouselExampleFade10" class="carousel slide carousel-fade special-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active special-treatment" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.1.webp' %}" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.2.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.3.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.4.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.5.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.6.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.7.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/carousel_servicios/servicio 10.8.webp' %}" class="d-block w-100 carousel-image special-size" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade10" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade10" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>